h1,h2,h3,h4{
    color: #2B8C55;
}

#botonera{
    font-size: 1rem;
}

#imgbotonera img{
    width: 200px;
}


.green-bg{
    background-color: #2B8C55;
}

.light-bg{
    background-color: #D9D9D9;
}

.white{
    background-color: white;
}
